<!DOCTYPE html>
<html lang="en">
<head>
  <title>Place New Order</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/neworder.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../js/node_modules/chart.js/dist/Chart.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">CarShowroom</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/order">Orders <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/order">View Order</a></li>
            <li><a href="/order/placeOrder">Place Order</a></li>
            <li><a href="/order/prevOrder">Previous Order</a></li>
          </ul>
        </li>
        <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="/product">Product <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/product/addproduct">New Product</a></li>
          <li><a href="/product">View Product</a></li>
          <li><a href="/product/extras/addextras">New Extra</a></li>
          <li><a href="/product/extras">View Extra</a></li>

        </ul>
      </li>


          <li class="dropdown" ><a class="dropdown-toggle" data-toggle="dropdown" href="/employees">Employees <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/employees/addEmployee">New Employee</a></li>
            <li><a href="/employees">View Employee</a></li>
            <li><a href="/logout">LogOut</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </nav>

<!--
<div class="col-lg-8" style="width:100%;background-image:url('neword_cover.jpeg');background-repeat:no-repeat;">
    <h1 style="margin-top:50px;">PAGAL</h1>
<div class="home">
hi
</div>
</div>-->
<div class="home1">
    <h1 class="banner1">FIND CARS<br>SPECIAL FOR YOU</h1>
    <h2 class="ban-sub">With hundreds of products,<br>we have just the right one for you</h2>
    <a href="/product"><button class="btn1" onclick="document.location=''"><strong>EXPLORE &nbsp;PRODUCTS</strong></button></a>
</div>
<div class="ad1">
    <h1 class="ad1h">- MEET THE SEDAN FAMILY -</h1><br>
    <table>
        <tr>
            <td><img src="../images/LS.png" class="sedan"></td>
            <td><img src="../images/ES.png" class="sedan"></td>
            <td><img src="../images/ES-Hybrid.png" class="sedan"></td>
            <td><img src="../images/GS.png" class="sedan"></td>
            <td><button class="arrow1" onclick="document.location=''">></button></td>
        </tr>
        <tr>
            <td><p class="carlabel">LS</p></td>
            <td><p class="carlabel">ES</p></td>
            <td><p class="carlabel">ES Hybrid</p></td>
            <td><p class="carlabel">GS</p></td>
        </tr>
    </table>
</div>
<div class="ad2">
    <table>
        <tr>
            <td style="width:600px;height: 400px;">
                <div style="width:500px;"><h1 class="ad2h">THE BRAND NEW<br>LS HYBRID</h1>
                <p class="ad2p">Bold, tough and ready to take on anything.This XV has a sporty look,
                sleek accessories and leather uphoistery inspired by European high-performance grand tourers.</p>
                <div style="width:400px;">
                    <center>
                        <a href="/product/viewProduct?car_id=C00002">
                        <button class="btn1" style="padding:10px;font-size:15px;" onclick="document.location=''">
                            <strong>View this car</strong></a>
                    </button></center>
                </div>
            </td>
            <td style="width:600px;"><img src="../images/LS-Hybrid.png" style="float:right;size:120%;"></td>
        </tr>
    </table>
</div>
<!--<div class="contain">-->
<br><br><h1 class="ad1h">Our Statistics</h1><br>
    <div class="chart"><canvas id="myChart" width="600" height="270"></canvas><br></div>
    <div class="chart"><canvas id="chart2"></canvas><br></div>
<!--</div>-->
<div class="abt">
    <h1 class="abt_hdr">ABOUT</h1><br><br>
    <p class="abt_para">We believe that our customers are as special as our cars, so we take car shopping to a whole new level.
        Stop by to see how we have transformed the Lexus experience.
        From the purchase of your new Lexus to the time you need it serviced or repaired,
        we offer the kind of customer service all great dealerships aspire to.
        Come experience the Lexus of Las Vegas difference.</p>
</div>
<script>



    let carObject=<%-JSON.stringify(carData)%>;
    console.log(carObject);
    let Cars_Sold=[];
    let Cars_Sold_name=[];
  carObject.filter(function(item){
    Cars_Sold.push(item.car_count);
    Cars_Sold_name.push(item.model_no);
  })

let orderObject=<%-JSON.stringify(orderData)%>;
    console.log(orderObject);
    let Order_Sold=[];
    let Order_Sold_name=[];
 orderObject.filter(function(item){
    Order_Sold.push(item.sell_count);
    Order_Sold_name.push(item.month);
  })




    var ctx = document.getElementById('myChart');
    var ctx2 = document.getElementById('chart2');
    /*var carChart = new Chart(chart1, {
        type: 'bar',
        data: {
            labels: Cars_Sold_name,
            datasets: [{
                label: 'Cars Sold',
                data:Cars_Sold,
                backgroundColor:[
                    'green','lightblue','tomato','yellow','purple'
                ]
            }]
        },
        options: {}
    });*/
    /*var saleChart = new Chart(chart2, {
        type: 'bar',
        data: {
            labels: Order_Sold_name,
            datasets: [{
                label: 'Recent sales',
                data:Order_Sold,
                backgroundColor:[
                    'green','lightblue','tomato','yellow'
                ]
            }]
        },
        options: {}
    });*/


    var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: Order_Sold_name,
        datasets: [{
            label: '# of sales',
            data: Order_Sold,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            width:1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes:[{
              barPercentage:0.3
            }]
        }
    }
});

    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: Cars_Sold_name,
        datasets: [{
            label: '# of Cars_Sold',
            data: Cars_Sold,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1,
            width:1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes:[{
              barPercentage:0.3
            }]
        }
    }
});




</script>
</body>
</html>
