<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<div style="position: absolute;top:40%;left: 40%">
	<form action="/login" method="POST">
		<label>username</label>
		<input type="text" name="username">
		<label>password</label>
		<input type="password" name="password">
		<button type="submit">check</button>
	</form>
	<a href="/signUp">sign-up</a>
</div>

</body>
</html>