<!DOCTYPE html>
<html>
<head>
	<title>Sign-Up</title>
</head>
<body>
	<div style="position: absolute;top:40%;left: 40%">
	<form action="/signUp" method="POST">
		<label>EMP-ID</label>
		<input type="text" name="username">
		<label>password</label>
		<input type="password" name="password">
		<button type="submit">check</button>
	</form>
	<a href="/login">Go back to log-in</a>
</div>

</body>
</html>